<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Bunu yazan <i id="tosun"></i> okuyana koysun</h1>
    <h2>Secret note:</h2>
    <code id="secrettext"></code>
  </body>
  <script>
    window.onload = function(){
      const tosuntext = document.getElementById("tosun");
      const secretext = document.getElementById("secret");

      console.log(annen);
      tosuntext.innerText = annen;
      secrettext.innerText = secret;
    }
    
  </script>
</html>
